<%- include('../partials/header') %>

<main class="error-container">
  <h1><%= title %></h1>

  <div class="error-message">
    <%- message %>
  </div>

  <p class="error-humor">
    😬 Well… this is awkward.<br>
    Something went wrong.
  </p>
</main>

<!-- <%- include('../partials/footer') %> -->
